{% extends 'base.html' %}
{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bo_le.css') }}">
{% endblock %}

{% block content %}

  <div id="card-1" class="card card-rotating text-center flipped">

    <div class="face front">
    <div class='container'>
        <div id="first">
          <form action = "/lend" method = "POST">
             <p>Amount: <input type = "number" name="money" placeholder='$'/></p>
             <p>Duration: <input type = "number" name="months" placeholder='Months' /></p>
             <p>Interest:  <input type = "number" name="interest" placeholder='Mininum interest (%) ' /></p>
             <p><input type = "submit" value = "submit" /></p>
          </form>
        </div>
        <div id="second">
          <h1>Lenders</h1>
          <p> _________________________________________________________________________ </p>
          <UL id="search_results" style="list-style: none;">
        {% for lender in objs|sort(attribute="loan_size") %}
      <LI>
      <a><img src="/static/images/res_image.png" width="80" height="80" border="10" alt="profile pic"/><span>    {{ lender.email }}: <B>  Interest Rates Offered: {{ lender.interest }}%</B></span></a>
      </LI>
        {% endfor %}
    </UL>
        </div>
    </div>
    </div>
  </div>
{% endblock %}


{% block script %}
  <script type="text/javascript" src="{{ url_for('static', filename='scripts/lender.js') }}"></script>
  {% endblock %}
