#header {
    width: 100%;
    background-color: red;
}
.container {
    width: 300px;
    margin: auto;
}
#first {
    width: 100px;
    float: left;
    height: 300px;
}
#second {
    width: 800px;
    float: left;
    height: 300px;
}
#clear {
    clear: both;
}
